{% extends 'base.html' %}
{% block content %}


<div class="container" id="container-maps">

  <div id="row-maps" class="row">

    <div class="col-md-3 map-card-container">

      <div class="card text-white bg-primary mb-3 map-card">
        <div class="card-header map-card-header"><span class="map-card-map-name">Hellmouth Cup</span></div>
        <div class="card-body">
          <img class="map-card-image" width="100%" src="img/hellmouthcup.png" />
          <p class="card-text map-card-description-text"><span class="map-card-description"></span></p>
        </div>
        <div class="map-card-simulate justify-content-lg-center text-center">
          <a href="https://hellmouth.golly.life" role="button" class="btn btn-primary btn-sm btn-success">
            hellmouth.golly.life
          </a>
        </div>
      </div>

    </div>
    <div class="col-md-3 map-card-container">

      <div class="card text-white bg-primary mb-3 map-card">
        <div class="card-header map-card-header"><span class="map-card-map-name">Pseudo Cup</span></div>
        <div class="card-body">
          <img class="map-card-image" width="100%" src="img/pseudocup.png" />
          <p class="card-text map-card-description-text"><span class="map-card-description"></span></p>
        </div>
        <div class="map-card-simulate justify-content-lg-center text-center">
          <a href="https://pseudo.golly.life" role="button" class="btn btn-primary btn-sm btn-success">
            pseudo.golly.life
          </a>
        </div>
      </div>

    </div>
    <div class="col-md-3 map-card-container">

      <div class="card text-white bg-primary mb-3 map-card">
        <div class="card-header map-card-header"><span class="map-card-map-name">Toroidal Cup</span></div>
        <div class="card-body">
          <img class="map-card-image" width="100%" src="img/toroidalcup.png" />
          <p class="card-text map-card-description-text"><span class="map-card-description"></span></p>
        </div>
        <div class="map-card-simulate justify-content-lg-center text-center">
          <a href="https://toroidal.golly.life" role="button" class="btn btn-primary btn-sm btn-success">
            toroidal.golly.life
          </a>
        </div>
      </div>

    </div>

  </div>

</div>

<noscript>
  <div class="container" id="container-noscript">
    <div class="row text-center landing-header">
      <div class="col-md-12">
        <h2 class="text-danger">You must have Javascript enabled to view this site.</h2>
      </div>
    </div>
  </div>
</noscript>

{% endblock %}
{% block css %}
{% endblock %}
{% block javascript %}
{% endblock %}
